* {
    padding: 0;
    margin: 0;
}
#div_tong {
    height: 800px;
    width: 100%;
}
#div_tren {
   height: 3%;
   width: 100%;
   background-color:#CC66CC;
   font-weight: bold;
}
#div_duoi {
    height: 97%;
    width: 100%;
}
#div_duoi .trai {
width: 35%;
height: 100%;
float: left;
}
#div_duoi .trai .tren {
    width: 330px;
    height: 40px;
    margin-left: 80px;
    text-align: center;
    background-color: 	#CC33FF;
}
#div_duoi .trai .tren1 .thanh_cuon {
    margin-left: 80px;
    display:block;
    border: 1px solid #CC33FF ;
    padding:5px;
    margin-top:5px;
    width:320px;
    height:400px;
    overflow:scroll;
}
#div_duoi .trai .tren2 {
    background-color: #CC33FF;
    height: 185px;
    margin-top: 5px;
    width: 412px;
    float: left;
}

#div_duoi .giua{
    width: 58%;
    height: 100%;
    background-image: url('images/HoiLan.gif');
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: 200px top;
    float: left;
}
#div_duoi .giua .tren {
    width: 782px;
    height: 70px;
}





